%header.green.big_padding
	%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, quia cumque ducimus omnis. Aut maiores eos temporibus. Beatae magnam accusamus tenetur doloribus eligendi optio, odit iste recusandae cupiditate, atque expedita.