%header.green.big_padding
	.col-md-10.no-float.center-block
		.col-md-6.no_padding.inline_block
			=image_tag 'tiendus.png', width: '100'
			%h1.white_text.ultra_big.kostic
				%strong
					Ofrece productos digitales a tu audiencia
		.col-md-5.inline_block
			=image_tag 'mono.png'


.grey.white_text.big_padding

	.col-md-10.no-float.center-block
		.absolute{style:"bottom:-4.5em; width:100% ;left:0px;"}
			.text-center.big
				.col-md-3.inline_block
					.white.grey_text.circle
						%strong 1
				.col-md-3.inline_block
					.white.grey_text.circle
						%strong 2
				.col-md-3.inline_block
					.white.grey_text.circle
						%strong 3				
		%h2.bigger.kostic.text-center
			%strong tiendus en 3 pasos
		%div.text-center.top_space
			.col-md-3.inline_block.text-left
				=image_tag "upload-icon.png", class: 'col-md-10 inline_block'
				.top_space
					%strong.medium
						Sube tus archivos 
					%p.white_text.text-justify.small
						Libro digital, canción, comic, curso o lo que se te ocurr!, 
						si lo puedes meter en un .zip, lo puedes vender
			.col-md-3.inline_block.text-left
				=image_tag "youtube-icon.png", class: 'col-md-10 inline_block'
				.top_space
					%strong.medium
						redes sociales
					%p.white_text.text-justify.small
						puptatum ab, veritatis, impedit necessitatibus, ratione. Nobis cumque sint in aliquam!
			.col-md-3.inline_block.text-left
				=image_tag "money-icon.png", class: 'col-md-10 inline_block'
				.top_space
					%strong.medium
						vende tus productos
					%p.white_text.text-justify.small
						Lorem ipsum dolor sit amet, consectetur adipisicing elit
						ut doloribus praesentium perspiciatis facilis cumque					

.red.white_text.big_padding.kostic{style:"margin-top:5em;"}
	.col-md-8.no-float.text-center.center-block
		=image_tag "media-icons.png"
		%p.medium.col-md-11.center-block.no-float.top_space
			%strong
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla similique iste aliquam aliquid. A in labore consequatur at corporis ullam eius repellat perferendis.
.top_space.big_padding
	.col-md-11.col-xs-12.center-block.no-float
		=form_for("/", method: :post) do
			=email_field_tag "email", nil , class: ' col-xs-12 inline_block text-center landing_form',  placeholder: 'Escribe aquí tu email'





