%header.green.big_padding
	.col-md-10.no-float.center-block
		.col-md-6.no_padding.inline_block
			=image_tag 'tiendus.png', width: '100'
			%h1.white_text.ultra_big.kostic
				%strong
					Ofrece productos digitales a tu audiencia
		.col-md-5.inline_block
			=image_tag 'mono.png'
.grey.white_text.big_padding
	%h2.bigger.kostic.text-center
		%strong Tienda en 3 pasos
	%div.text-center
		.col-md-3.inline_block.text-left
			=image_tag "upload-icon.png", class: 'col-md-10 inline_block'
			.top_space
				%span.medium
					Sube tus archivos
		.col-md-3.inline_block.text-left
			=image_tag "upload-icon.png", class: 'col-md-10 inline_block'
		.col-md-3.inline_block.text-left
			=image_tag "upload-icon.png", class: 'col-md-10 inline_block'						