%header.green.big_padding
	.col-md-10.no-float.center-block
		.col-md-6.no_padding.inline_block
			=image_tag 'tiendus.png', width: '100'
			%h1.white_text.ultra_big.kostic
				%strong
					Ofrece productos digitales a tu audiencia
		.col-md-5.inline_block
			=image_tag 'mono.png'